<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test">
		<classes>
			<class name="ftnt.qa.autotest.ui.fortisiem.testcases.User" />
<!-- 			<class name="ftnt.qa.autotest.ui.fortisiem.testcases.Organization" /> -->
<!-- 			<class name="ftnt.qa.autotest.ui.fortisiem.testcases.Credentials" /> -->
		</classes>
		<listeners>
			<listener class-name="ftnt.qa.autotest.ui.framework.testng.listener.TestNGListener" />
		</listeners>
	</test> <!-- Test -->
</suite> <!-- Suite -->
